/**
  Block: card
  Elements: header, body, footer
 */
.card {
  width: 100%;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(231, 234, 243, .7);
  border-radius: 12px;
  transition: .3s;
  box-shadow: 0 12px 15px rgba(140, 152, 164, .1);

  &:hover {
    box-shadow: 0 12px 15px rgba(140, 152, 164, .175);
  }

  &__header {
    border-bottom: 1px solid rgba(231, 234, 243, .7);
    padding: 16px 24px;
  }

  &__body {
    padding: 24px;
  }

  &__footer {
    border-top: 1px solid rgba(231, 234, 243, .7);
    padding: 16px 24px;
  }
}