.list-inline {
  display: inline-flex;
  list-style-type: none;
  justify-content: space-around;
  width: 100%;
  padding-left: 0;
  align-items: center;
  overflow: auto;

  & li:not(:last-child) {
    padding-right: 10px;
  }

  & .card {
    box-shadow: none;
    padding: 5px 10px;

    & h5 {
      margin: 5px;
    }
  }
}

.text-center {
  text-align: center!important;
}