body {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  background-color: #F7F9FB;
  color: #181B23;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-wrapper {
  flex: 1 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
